---
---

@import "{{ site.theme }}";

/*
 * Reset default theme settings
 */

.wrapper, div.wrapper {
  margin: 0;
  width: auto;
  max-width: none;
}
header, footer, section {
  width: auto;
  float: none;
  position: static;
  padding: 0;
  margin: 0;
}
header {
  ul {
    list-style: disc;
    width: auto;
    height: auto;
    padding: 0;
    padding-left: 40px;
    background: transparent;
    border-radius: 0;
    border: none;
    a {
      line-height: normal;
      font-size: medium;
      color: blue;
      display: inline;
      text-align: left;
      padding-top: 0;
      height: auto;
    }
    a:hover, header ul a:focus {
      color: blue;
      font-weight: normal;
    }
    a:active {
      background: transparent;
    }
  }
  li {
    width: auto;
    height: auto;
    float: none;
    border: none;
  }
  li:first-child a {
    border-radius: 0;
  }
  li:last-child a {
    border-radius: 0;
  }
}
footer {
  bottom: auto;
}
section {
  border: none;
}

a {
  color:#267CB9;
  font-weight: normal;
  text-decoration: none;

  small {
    font-size:11px;
    color:#267CB9;
    margin-top: 0;
    display: inline;
  }
}

a:hover, a:focus {
  color:#069;
  font-weight: normal;
  text-decoration: underline;
  
  small {
    color:#069;
  }
}

/*
 * Override theme with custom values
 */

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.4;
  background-color: #e0e0e3;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

p, ul, ol, th, td {
  text-align: justify;
}

p, ul, ol, table, pre, dl {
  margin: 10px 0;
}

header ul a strong {
  font-size:15px;
}

header {
  line-height: 28px;
  background-color: #000;
  padding: 10px;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-size: 15.4px;
  @media (max-width: 600px) {
    text-align:center;
  }
  
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
  
  .site-title {
    float: left;
    line-height: 28px;
    @media (max-width: 600px) {
      float: none;
    }
    
    a {
      color: #FFF;
      text-decoration: none;
      margin-right: 10px;
      margin-left: 20px;
      font-weight: 600;
    }
    span {
      color: rgba( #FFF, 0.5);
      font-size: 13px;
      @media (max-width: 1120px) {
        display: none;
      }
    }
  }

  .site-nav {
    text-align:right;
    padding: 0px 20px;
    @media (max-width: 600px) {
      text-align:center;
    }
    
    a {
      text-decoration: none;
      padding: 10px 10px;
      color: #BBB;
      white-space: nowrap;
      font-weight: 600;
    
      &:hover, &:focus {
        background: #333;
      }
    }
  }
}

main {
  padding: 20px;
  margin: 0;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;

  img {
    display: block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  /* Markdown tables will be displayed so that 
   * each column has the same width. Faster and cleaner. */
  table {
    table-layout: fixed;
  }
}

footer {
  background-color: #2d2d2d;
  color: #cccccc;
  padding: 20px 0;

  p {
    margin: 5px 0;
  }

  a {
    color: #cccccc;
    text-decoration: underline;
    small {
      color:#cccccc;
    }
  }
  a:hover {
    color: #ffffff;
    small {
      color:#ffffff;
    }
  }
}

/* Side-by-side layout of sidebar and main content */
.main-container {
  display: table;
  table-layout: fixed;
  width: 100%;

  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  nav.sidebar, main {
    display: table-cell;
    box-sizing: border-box;
    @media (max-width: 1120px) {
      display: block;
      width: 100%;
    }
  }
}

nav.sidebar {
  width: 275px;
  background: #eee;
  padding: 20px;
}

/* Responsive width page layout content wrapper */
div.wrapper {
  margin: 0 auto;
  width: auto;
  max-width: 1100px;
  @media (max-width: 1120px) {
    max-width: 800px;
  }
}