---
---

@import "{{ site.theme }}";

/*
 * Reset default theme settings
 */

.wrapper, div.wrapper {
  margin: 0;
  width: auto;
  max-width: none;
}
header, footer, section {
  width: auto;
  float: none;
  position: static;
  padding: 0;
  margin: 0;
}
header {
  ul {
    list-style: disc;
    width: auto;
    height: auto;
    padding: 0;
    padding-left: 40px;
    background: transparent;
    border-radius: 0;
    border: none;
    a {
      line-height: normal;
      font-size: medium;
      color: blue;
      display: inline;
      text-align: left;
      padding-top: 0;
      height: auto;
    }
    a:hover, header ul a:focus {
      color: blue;
      font-weight: normal;
    }
    a:active {
      background: transparent;
    }
  }
  li {
    width: auto;
    height: auto;
    float: none;
    border: none;
  }
  li:first-child a {
    border-radius: 0;
  }
  li:last-child a {
    border-radius: 0;
  }
}
footer {
  bottom: auto;
}
section {
  border: none;
}

a {
  color:#267CB9;
  font-weight: normal;
  text-decoration: none;

  small {
    font-size:11px;
    color:#267CB9;
    margin-top: 0;
    display: inline;
  }
}

a:hover, a:focus {
  color:#069;
  font-weight: normal;
  text-decoration: underline;
  
  small {
    color:#069;
  }
}

/*
 * Override theme with custom values
 */

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.4;
}

p {
  text-align: justify;
}

header ul a strong {
  font-size:15px;
}

header {
  line-height: 28px;
  background-color: #000;
  padding: 10px;
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-size: 15.4px;
  @media (max-width: 600px) {
    text-align:center;
  }
  
  &:after {
    clear: both;
    content: ' ';
    display: block;
  }
  
  .site-title {
    float: left;
    line-height: 28px;
    @media (max-width: 600px) {
      float: none;
    }
    
    a {
      color: #FFF;
      text-decoration: none;
      margin-right: 10px;
      margin-left: 20px;
      font-weight: 600;
    }
    span {
      color: rgba( #FFF, 0.5);
      font-size: 13px;
      @media (max-width: 1120px) {
        display: none;
      }
    }
  }

  .site-nav {
    text-align:right;
    padding: 0px 20px;
    @media (max-width: 600px) {
      text-align:center;
    }
    
    a {
      text-decoration: none;
      padding: 10px 10px;
      color: #BBB;
      white-space: nowrap;
      font-weight: 600;
    
      &:hover, &:focus {
        background: #333;
      }
    }
  }
}

section {
  padding: 20px 0;
  margin: 0;
}

footer {
  background-color: #2d2d2d;
  color: #cccccc;
  padding: 15px 0;

  a {
    color: #cccccc;
    text-decoration: underline;
    small {
      color:#cccccc;
    }
  }
  a:hover {
    color: #ffffff;
    small {
      color:#ffffff;
    }
  }
}

div.wrapper {
  margin: 0 auto;
  width: auto;
  max-width: 1100px;
}
@media (max-width: 1120px) {
  div.wrapper {
    max-width: 800px;
  }
}